<div>
    <h3>Movie</h3>


    @if (Movies == null)
    {
        <text>Loading</text>
    }
    else if (Movies.Count == 0)
    {
        <text>There are no movies to show.</text>
    }
    else
    {
        @foreach (var movie in Movies)
        {
            <IndividualMovie Movie="movie"/>
        }
    }

</div>

@code{
    [Parameter] 
    public List<Movie> Movies { get; set; }
}