@page "/"

<p>Hello, @CustomerToLower(name) </p>
<p>Add 2 + 2 =@(2+2) </p>

@*<button @onclick="@(()=>Console.WriteLine("Clicked"))">Click Me!!</button>*@
<button @onclick="@WriteInLog()">Click Me!!</button>
@code{
    string name = "Paras";
    string CustomerToLower(string Value) => Value.ToLower();

    void WriteInLog()
    {
        Console.WriteLine("Clicked");
    }
}