@page "/"

<p>Hello, @StringUtilites.CustomerToLower(name) </p>
<p>Add 2 + 2 =@(2+2) </p>


@code{
    string name = "Paras";
    public class StringUtilites
    {
        public static string CustomerToLower(string Value) => Value.ToLower();
    }
}