@page "/"

<div>
    <h3>Movie</h3>
    <p>Title : <b>@movie.Title</b>  </p>
    <p>Release Date: <b>@movie.ReleaseDate.ToString("dd MMM yyyy")</b>  </p>

</div>

@code{
    Movie movie = new Movie 
    {
        Title="Spider-Man: Far From Home",
        ReleaseDate=new DateTime(2019,7,2)
    };
}